@model Sistema_Taller.Models.Request.UsuarioRequest
@{
    ViewBag.Title = "Editar";

}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="container">
            @Html.HiddenFor(m=>m.idUsuario)
            <div class="row">
                <div class="col-md-12">
                    <br />
                    @Html.LabelFor(d => d.nombre)
                    @Html.LabelFor(d => d.apellidos)

                    <div class="row">


                        @Html.EditorFor(d => d.nombre, "",  new { @class = "form-control" } )
                        @Html.ValidationMessageFor(m => m.nombre, "", new { @class = "text-danger" })
                        @Html.EditorFor(d => d.apellidos, "", new { @class = "control-form", id = "apellidos" })
                        @Html.ValidationMessageFor(m => m.apellidos, "", new { @class = "text-danger" })
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br />
                    @Html.LabelFor(d => d.cedula)
                    @Html.LabelFor(d => d.telefono)
                    <div class="row">
                        @Html.EditorFor(d => d.cedula, "", new { htmlAttributes = new { @class = "form-control", @readonly = "true", style="width:176px"} })
                        @Html.ValidationMessageFor(m => m.cedula, "", new { @class = "text-danger" })
                        <span class="field-validation-valid text-danger collapse" id="cedula-existe">Esta Cédula ya esta registrada</span>
                        @Html.EditorFor(d => d.telefono, "", new { @class = "control-form", id = "telefono" })
                        @Html.ValidationMessageFor(m => m.telefono, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br />
                    @Html.LabelFor(d => d.correo)
                    <div class="row">
                        @Html.EditorFor(d => d.correo, "", new { @class = "control-form", id = "correo" })
                        @Html.ValidationMessageFor(m => m.correo, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br />
                    @Html.LabelFor(d => d.username)
                    @Html.LabelFor(d => d.contrasena)
                    <div class="row">
                        @Html.EditorFor(d => d.username, "", new { @class = "control-form", id = "username" })
                        @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                        <span class="field-validation-valid text-danger collapse" id="usuario-existe">Este Usuario ya esta registrado</span>
                        @Html.PasswordFor(d => d.contrasena, new { @class = "control-form", id = "contrasena" })
                        @Html.ValidationMessageFor(m => m.contrasena, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(d => d.idEstado)
                    @Html.LabelFor(d => d.idRol)
                    <div class="row">
                        @Html.DropDownListFor(x => x.idEstado, ViewBag.estados as IEnumerable<SelectListItem>, "Selecciona una opcion", new { @class = "control-form", id = "idEstado" })
                        @Html.ValidationMessageFor(m => m.idEstado, "", new { @class = "text-danger" })
                        @Html.DropDownListFor(x => x.idRol, ViewBag.roles as IEnumerable<SelectListItem>, "Selecciona una opcion", new { @class = "control-form", id = "idRol" })
                        @Html.ValidationMessageFor(m => m.idRol, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input value="Guardar" class="btn btn-success" type="submit" id="editar" />
        </div>
    </div>
}
@section Scripts {
    <script src="~/Scripts/js/Usuariojs/Edit.js" type="module"></script>
    @Scripts.Render("~/bundles/jqueryval")
}