@model Sistema_Taller.Models.Usuario
@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<div class="row">
    <dl class="dl-horizontal">
        
        <dt>@Html.DisplayNameFor(m => m.nombre)</dt>
        <dd>@Html.DisplayFor(m => m.nombre)</dd>

        <dt>@Html.DisplayNameFor(m => m.apellidos)</dt>
        <dd>@Html.DisplayFor(m => m.apellidos)</dd>

        <dt>@Html.DisplayNameFor(m => m.cedula)</dt>
        <dd>@Html.DisplayFor(m => m.cedula)</dd>

        <dt>@Html.DisplayNameFor(m => m.telefono)</dt>
        <dd>@Html.DisplayFor(m => m.telefono)</dd>

        <dt>@Html.DisplayNameFor(m => m.correo)</dt>
        <dd>@Html.DisplayFor(m => m.correo)</dd>

        <dt>@Html.DisplayNameFor(m => m.username)</dt>
        <dd>@Html.DisplayFor(m => m.username)</dd>

        <dt>@Html.DisplayNameFor(m => m.idRol)</dt>
        <dd>@Html.DisplayFor(m => m.idRol)</dd>



    </dl>

</div>
@using (Html.BeginForm())
{ 
    @Html.HiddenFor(m => m.idUsuario, new { id = "id" })
    @Html.AntiForgeryToken()
    <input type="button" value="Eliminar" onclick="borrar()" class="btn btn-danger" />
}

    <script type="text/javascript">

        function borrar() {
            let dato = { id : document.getElementById("id").value }
            let url = "/Usuario/Borrar";

            fetch(url, {
                method: 'POST',
                body: JSON.stringify(dato),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type':'application/json'
                }
            }).then((response) => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new DOMException("Ha ocurrido un error")
                }
            }).catch(error => {
                alert(error)
            }).then((data) => {
                if (data != "1") {
                    alert("Error iiiii")
                } else {
                    document.location.href = "/Usuario/";
                }
            })

        }


        function jsDelete() {
            let url = '@Url.Content("~/Usuario/ConfirmarEliminar")';
        fetch(url, {
            method: 'POST',
            body: JSON.stringify({
                id: document.getElementById("id").value
            }),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok)
                return response.json();
            else
                return alert("Error 1");
        }).then(data => {
            if (data != "1") {
                alert("Error dato");
            } else {
                document.location.href = "/Usuario/";
            }
        })

    }


    </script>

