@model Sistema_Taller.Models.View_Usuario

@{
    ViewBag.Title = "Lista de Usuarios";
}

<h2>@ViewBag.Title</h2>


<div class="row" style="text-align:right; padding:5px;">

    <a class="btn btn-primary" href="~/Usuario/Crear">Crear</a>

</div>
@if (ViewBag.sms != null)
{
    <div class="col-md-12">
        <div class="alert-success">
            <label>@ViewBag.sms</label>
        </div>
    </div>
}

<div class="row">
    <div class="table-responsive">

        <table class="table table-hover table-bordered" id="tablaUsuario">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Cédula</th>
                    <th>Correo</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

    </div>

</div>

<div class="modal fade" id="visualizar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Usuario</h4>
                <a class="btn btn-danger close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nombre)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.nombre, new { @readonly = "true" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.apellidos)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.apellidos, new { @readonly = "true" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.cedula)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.cedula, new { @readonly = "true" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.correo)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.correo, new { @readonly = "true" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.Usuario, new { @readonly = "true" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.Estado, new { @readonly = "true" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Rol)
                    </dt>

                    <dd>
                        @Html.TextBoxFor(model => model.Rol, new { @readonly = "true" })
                    </dd>
                </dl>

            </div>
            <div class="modal-footer">
                <input class="btn btn-secondary close" type="button" data-dismiss="modal" value="Cerrar" />
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Eliminar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Usuario</h4>
                <a class="btn btn-danger close" data-dismiss="modal">&times;</a>
            </div>
            @using (Html.BeginForm())
            {
                <div class="modal-body">
                    <h4>Desea eliminar este usuario?</h4>

                    @Html.HiddenFor(model => model.id)

                </div>
                <div class="modal-footer">
                    <input class="btn btn-secondary close" type="button" data-dismiss="modal" value="Cerrar" />
                    <input class="btn btn-danger " type="submit"  value="Eliminar" />
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/js/Usuariojs/index.js" type="module"></script>

}


