@model Sistema_Taller.Models.ViewModels.RepuestoViewModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div class="dl-horizontal">
        @using (Html.BeginForm())
        {

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.IdProveedor)
            <div class="form-group">
                @Html.LabelFor(m => m.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(m => m.Nombre, new { htmlAttributes = new { @class = "form-control", @readonly=true } })
                    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                    <button type="button" id="ff" data-toggle="modal"
                   data-target="#ProveedorModal"><span>+</span></button>
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Telefono, new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(m => m.Telefono, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Direccion, new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(m => m.Direccion, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-default" data-toggle="modal"
                   data-target="#RepuestoModal">Agregar Repuesto</a>
            </div>
            <input type="submit" class="btn btn-primary" value="Guardar" id="save" />


        }

    </div>
    <div class=" table table-responsive-sm">
        <table class="table table-hover table-bordered " id="TablaRepuesto">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <div class="modal fade" id="RepuestoModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:40px 50px;">
                    <h4><span class="fa fa-save"></span> Parte</h4>
                    <button type="button" class="btn btn-danger close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body" style="padding: 40px 50px">
                    <form id="form2" role="form">
                        @Html.HiddenFor(m => m.IdInvRep)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Codigo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.Precio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Precio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Cantidad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="submit" value="Guardar" id="btnAdd" />

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ProveedorModal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content alert-danger" >
                <div class="modal-header" style="padding:40px 50px;">
                    <h4><span class="fa fa-save"></span> Parte</h4>
                    <button type="button" class="btn btn-danger close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="padding: 40px 50px">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="tablaBuscar">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</body>
</html>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/js/Repuestojs/create.js" type="module"></script>

   @*<script>
       


       document.getElementById("save").addEventListener("click", save);
       document.getElementById("add").addEventListener("click", function (e) {
           AgregarElemento(new FormData(document.forms["form2"]))
               .then(data => {
                   items = data
                   let resp = new Repuesto()
                   resp.llenarConArreglo(data);
                   let m = resp;
                   repuestos.push(m);
                   let tbody = document.querySelector("#TablaRepuesto tbody");
                   let row = tbody.insertRow(0);

                   for (let i = 1; i < data.length; i++) {
                       console.log(data)
                       row.insertCell(i - 1).innerHTML = data[i];
                   }
                   row.insertCell(4).innerHTML = "<td><button type='button' class='edit alert-success'><span class='fa fa-edit'></span></button>\
															 <button type='button' class='delete alert-danger'><span class='fa fa-trash'></span></button></td>";
               })
               .catch(error => {     
                   e.preventDefault();
                   alert(error)
               })
       })
       

      
    </script>*@
}
 