@model Sistema_Taller.Models.Response.ClienteResponse
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


<div class="row">

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary()
        <div class="row">
            @Html.HiddenFor(m => m.IdCliente, new { id = "IdCliente" })
            @Html.LabelFor(m => m.Nombre)
            @Html.EditorFor(m => m.Nombre, "", new { @class = "form-cotrol", id = "Nombre" })
            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Apellidos)
            @Html.EditorFor(m => m.Apellidos, "", new { @class = "form-cotrol", id = "Apellidos" })
            @Html.ValidationMessageFor(m => m.Apellidos, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Cedula)
            @Html.EditorFor(m => m.Cedula, "", new { @class = "form-cotrol", id = "Cedula" })
            @Html.ValidationMessageFor(m => m.Cedula, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Telefono)
            @Html.EditorFor(m => m.Telefono, "", new { @class = "form-cotrol", id = "Telefono" })
            @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger", id = "Telefono" })
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Correo)
            @Html.EditorFor(m => m.Correo, "", new { @class = "form-cotrol", id = "Correo" })
            @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <a id="modal" class="btn btn-outline-secondary" data-toggle="modal"
               data-target="#negocioModal">Agregar negocio</a>
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-success" id="Guardar" />
        </div>

    }

</div>

@*
    <div class="modal fade" id="negocioModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:40px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-floppy-save"></span> Empresa</h4>
                </div>

                <div class="modal-body" style="padding: 40px 50px">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Empresa.NombreEmpresa)
                            @Html.TextBoxFor(m => m.Empresa.NombreEmpresa, "", new { @class = "form-control", id = "NombreEmpresa" })
                            @Html.ValidationMessageFor(m => m.Empresa.NombreEmpresa, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Empresa.CedJuridica)
                            @Html.TextBoxFor(m => m.Empresa.CedJuridica, "", new { @class = "form-control", id = "CedJuridica" })
                            @Html.ValidationMessageFor(m => m.Empresa.CedJuridica, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Empresa.Direccion)
                            @Html.TextBoxFor(m => m.Empresa.Direccion, "", new { @class = "form-control", id = "Direccion" })
                            @Html.ValidationMessageFor(m => m.Empresa.Direccion, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Empresa.TelEmpresa)
                            @Html.TextBoxFor(m => m.Empresa.TelEmpresa, "", new { @class = "form-control", id = "TelEmpresa" })
                            @Html.ValidationMessageFor(m => m.Empresa.TelEmpresa, "", new { @class = "text-danger" })
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-outline-success" value="Agregar" id="btnAdd" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="eliminar" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:40px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-floppy-save"></span> Empresa</h4>
                </div>

                <div class="modal-body" style="padding: 40px 50px">
                    @using (Html.BeginForm())
                    {

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <h4>Desea eliminar este negocio?</h4>
                            @Html.HiddenFor(m=>m.Empresa.IdEmpresa, new {id="id" })
                        </div>
                        <div class="modal-footer">
                            <input type="button" data-dismiss="modal" value="Cerrar" class="btn btn-secondary"/>
                            <input type="submit" class="btn btn-danger" value="Eliminar" id="btnEliminar" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="tablaNegocio">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Nombre")</th>
                    <th>@Html.DisplayName("Ced.Juridica")</th>
                    <th>@Html.DisplayName("Dirección")</th>
                    <th>@Html.DisplayName("Teléfono")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>*@
@section Scripts {
    <script src="~/Scripts/js/Clientejs/edit.js" type="module"></script>
}