
@{
    ViewBag.Title = "Prueba";
}



<h2>Prueba</h2>


    @Html.Label("hola");
    <input type="text" value="" id="id" />
    <input type="button" value="dar valor" onclick="document.getElementById('id').value = pID()" />

    <input type="button" value="fetch" onclick="borrar()" />
<div class="row">
    <div class="col-md-12" id="form">
        <input type="hidden" id="id" />
        <div class="row">
            @Html.DisplayName("Nombre")<br />
            @Html.TextBox("Nombre")
        </div>
        <div class="row">
            @Html.DisplayName("Apellidos")<br />
            @Html.TextBox("Apellidos")
        </div>
        <div class="row">
            @Html.DisplayName("Cedula")<br />
            @Html.TextBox("Cedula")
        </div>
        <div class="row">
            @Html.DisplayName("Telefono")<br />
            @Html.TextBox("Telefono")
        </div>
        <div class="row">
            @Html.DisplayName("Correo")<br />
            @Html.TextBox("Correo")
        </div>


       
    </div>
</div>

<div id="ress">
    <input type="button" value="tete" id="btn" />
    <input type="button" value="tete" id="btn1" />
</div>

@section Scripts{


    
    <script type="text/javascript">
        var p = true
        $(document).ready(function () {

            $("#btn").click(function () {

                $("#form").slideToggle();
            });
        });
        



        var pID = () => {
            let p = location.search;
            let e = p.split("=")
            return e[1];
        }

        function borrar() {
            let url = "/Cliente/Reporte"
            let dato = {
                id: document.getElementById("id").value
            }

            fetch(url, {
                method: 'POST',
                body: JSON.stringify(dato),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok)
                    return response.json()
                else
                    throw new Error("Ha ocurrido un error");

            }).then(data => {
                var res = 
                '<div class="row">\
                    <div class="col-md-12">\
                        <input type="hidden" id="id" />\
                        <div>\
                            <label>Nombre</label>\
                            <input type="text" value="'+data.Nombre+'" id="Nombre" />\
                         </div>\
                        <div>\
                            <label>Apellidos</label>\
                            <input type="text" value="'+data.Apellidos+'" id="Apellidos" />\
                         </div>\
                        <div>\
                            <label>Cedula</label>\
                            <input type="text" value="'+data.Cedula+'" id="Cedula" />\
                         </div>\
                        <div>\
                            <label>Telefono</label>\
                            <input type="text" value="'+data.Telefono+'" id="Telefono" />\
                         </div>\
                        <div>\
                            <label>Correo</label>\
                            <input type="text" value="'+data.Correo+'" id="Correo" />\
                         </div>\
                    </div>\
                </div>';

                document.getElementById("ress").innerHTML = res;
            }).catch(error => {
                alert(error)
            })

        }

        function validate(event){

    else if(form.nombre.value == ""){
        event.preventDefault();
    }
    else if(form.apellidos.value == ""){
            event.preventDefault();
        }
    else if(form.cedula.value == ""){
            event.preventDefault();
        }
    else if(form.telefono.value == ""){
            event.preventDefault();
        }
    else if(form.correo.value == ""){
            event.preventDefault();
        }
    else if(form.username.value == ""){
            event.preventDefault();
        }
    else if(form.contrasena.value == ""){
            event.preventDefault();
        }else{
     let url = "/usera/Crear"
     fetch(url,{
        method: 'POST',
        headers:{
            "Accept":"application/json",
            "Content-Type":"application/json"
         },
        body: {
            nombre: form.nombre.value,
            apellidos:form.apellidos.value,
            cedula:form.cedula.value,
            telefono:form.telefono.value,
            correo:form.correo.value,
            username:form.username.value,
            contrasena: form.contrasena.value
            }
        
    }).then(response=>{
        if(response.ok){
            return response.json()
         }else
            throw new Error("No se guardo");
        }).then(data=>{
        if(data!= "Listo"){
            throw new Error("Erro al ingresar")
            }else
            {
                document.location.href = "/Usera/Crear";
              }
    }).catch(error=>{
        event.preventDefault();
        })
        }

    </script>
}